body {
  width: 60em;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "yellow yellow"
                      "blue orange"
                      "blue red"
                      "blue green";
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  grid-area: green;
  background-color: #baffc9;
}

#orange {
  grid-area: orange;
  background-color: #ffdfba;
}

#yellow {
  grid-area: yellow;
  background-color:   #ffffba;
}

#yellow ul {
  display: flex;
}

#red ul {
  display: flex;
  flex-direction: row-reverse;
}

#yellow ul li, #red ul li {
  flex-grow: 1;
}

#yellow ul li:nth-child(1) {
  flex-grow: 3;
}

#red {
  grid-area: red;
  background-color:   #ffb3ba;
}

#blue {
  grid-area: blue;
  background-color:   #bae1ff;
}

ul { 
  padding: 0; 
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
