html {
    background-color: #ddddff;
}
  
body {
    width: 800px;
    margin: 0px auto;
    font-family: times, serif;
    background-color: #669933;
}
  
h1, h2, h3 {
    font-family: verdana, sans-serif;
}
  
#header {
    background-color: #336699;
    color: #ffffff;
    padding: 20px;
    position: relative;
}
  
#header h2 {
    position: absolute;
    top: 0;  left: 0;
    margin: 0; padding: 0;
  
    text-align: center;
  
    background-color: #336699;
    padding: 10px 0;
    width: 100%;
  
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
  
#menu {
    background-color: #669933;
    float: right;
    width: 200px;
}
  
#menu a{
    color: #ffffff;
    text-decoration: none;
}
  
#menu li {
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
  
#menu ul {
    width: 0px auto;
    padding: 0;
}
  
#content {
    padding: 0 10px;
    margin: 0;
    margin-right: 200px;
    background-color: #ffffff;
}
  
#content a {
    text-decoration: none;
}
  
#content h3 {
    font-size: 160%;
    margin: 0px 0;
    margin-bottom: 10px;
}
  
#content img {
    float: left;
    padding: 0 10px 10px 0;
}
  
#content .introduction {
    font-style: italic;
}
  
#content .news-item {
    border-bottom: 1px solid black;
}
  
#content ul {
    list-style-type: none;
    padding: 0;
    padding: 10px 0px;
    margin: 0px;
}
  
#content li {
    display: inline;
    border-bottom: 3px solid #996633;
    padding: 3px 10px;
}
  
#content li a {
    color: #333333;
    text-decoration: none;
}
  
#footer {
    padding: 0 10px;
    background-color: #ffffff;
}
  
#footer p {
    margin: 0;
}

/* 
body {
    position: relative;
    width: 53em;
    margin: 0 auto;
    background-color: #DDDDFF;
    font-family: Verdana;
}

body * {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    padding: 1.2em;
    width: 47em;
    position: relative;
    left: 3.5em;
    background-color: #336699;
    color: white;
}

#header h1 {
    position: relative;
    top: 0.5em;
}

#header h2 {
    background-color: #336699;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-transform: rotate(90deg);
    padding: 0.5em;
    text-align: center;
    width: 34em;
    top: 13em;
    left: -19.3em;
}

#menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 12.5em;
    height: 94.4em;
    left: 40.5em;
    background-color: #669933;
    color: white;
}

#menu ul {
    padding-inline-start: 0.5em;
}

#menu ul li {
    text-align: center;
    font-size: 0.8em;
    padding: 2em 5em;
}

#menu ul li:nth-last-child(1) {
    border: none;
}

#content, #footer {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 36em;
    right: 12.5em;
    left: -9.4em;
    background-color: white;
    padding: 0.5em;
}

#footer {
    width: 48.5em;
    left: 3.5em;
    padding: 0em 0.5em;
}

.news-item {
    border-bottom: 2px solid black;
}

.news-item h3 {
    font-size: 1.8em;
}

.news-item img {
    float: left;
    margin: 0.5em 0.5em 0.5em 0.1em;
}

.news-item p {
    padding: 0.5em 0;
    font-size: 0.9em;
}

.news-item .introduction {
    font-style: italic;
}

.news-item p a {
    color: blue;
}

.news-item ul {
    padding-inline-start: 0;
}

.news-item ul li {
    color: black;
    border-bottom: 4px solid #996633;
    display: inline-block;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0.5em 0;
} */