@media only screen and (max-width: 60em) {
    #related {
        display: none;
    }

    body {
        width: 100%;
        grid-template-columns: 100%;
    }

    #news, body > footer {
        margin-right: 0;
    }

}

@media only screen and (max-width: 30em) { 
    body header h2 {
        display: none;
    }

    #signup {
        position: relative;
        bottom: 0;
        right: 0;
    }

    #menu .hamburger {
        display: block;
        background-color: #2A2F33;
        padding: 1em;
        width: 100%;
    }
    
    #menu ul {
        display: none;
    }

    #menu .hamburger::before {
        content: "\2630";
        color: white;
        font-size: 1.2em;
    }

    #menu #hamburger:checked + .hamburger::before {
        content: "\2715";
    }

    #menu #hamburger:checked ~ ul {
        display: initial;
    }

    nav ul li {
        text-align: left;
        border-top: none;
    }
    
    nav ul li:nth-child(1) {
        border-left: 5px solid #E1493E;
    }
    nav ul li:nth-child(2) {
        border-left: 5px solid #8ABA56;
    }
    nav ul li:nth-child(3) {
        border-left: 5px solid #5B4282;
    }
    nav ul li:nth-child(4) {
        border-left: 5px solid #FF8932;
    }
    nav ul li:nth-child(5) {
        border-left: 5px solid #19B6E9;
    }
    nav ul li:nth-child(6) {
        border-left: 5px solid #E84C8B;
    }

    #news article header a {
        position: relative;
        text-shadow: none;
        color: black;
        left: 0;
        top: 0;
        font-size: 3.5vw;
    }

    #news article header h1 {
        padding: 1em;
    }

    #news article p {
        padding: 0 1em;
    }

}